<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net471" />
  <package id="MQTTnet" version="3.0.16" targetFramework="net471" />
  <package id="MQTTnet.Extensions.ManagedClient" version="3.0.16" targetFramework="net471" />
  <package id="System.Diagnostics.Tracer" version="2.0.8" targetFramework="net471" />
  <package id="System.Net.Mqtt" version="0.6.16-beta" targetFramework="net471" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>